header nav{
    width: 100%;
    height: 124px;
    display: flex   ;
    justify-content: space-between;
}
.navbar1{
    display: flex;
    padding: 40px 60px;

}
.navbar1 h1{
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -3%;
    vertical-align: middle;
    color: #3563E9;
    padding-right: 64px;
}
.navbar1 button{
    width: 522px;
    height: 42px;
    border-radius: 70px;
    border: 1px solid #C3D4E966;
    color: #596780;
    padding-right:20px ;
    display: flex;
    padding-top: 10px;
}
.navbar1 .a1{
    padding: 2px 20px;
}
.navbar1 .a2{
    padding-left: 240px;
    padding-top: 2px;
}
.navbar2{
    padding-right: 32px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar2 .a3{
    display: flex;
    gap: 20px;
}
.navbar2 .a3 a{
    border: #596780 1px solid;
    padding: 5px;
    border-radius: 100%;
}
.navbar2 img{
    width: 44px;
    height: 44px;
}

